:root {
    --title:#000000;
    --blue: #1e90ff;
    --white: #ffffff;
    --bg: #ffffff;
    --line: #999999;
    --font: #000000;
    --datered: #FF901E;
    --dateblue: #1E90FF;
    --gubuntitle: #DDD;
    --btnbg:#F8F8F8;
    --btninner:#000000;
    --pressed:#A1DDFF;
}